@import "fonts.css";

:root {
  --sticky-note-yellow: #FEFFD0;
}

body {
  --bg-yellow: --sticky-note-yellow;
  background-color: --bg-yellow;
  color: black;
}

#tagline {
  font-style: italic;
  font-weight: 400;
  font-family: "STIX", "Times New Roman", Times, serif;
}