@import "fonts.css";

:root {
  /* --sticky-note-yellow: #FEFFD0; */
  --sticky-note-yellow: #fffbc7;
  --sans-serif: "DM Sans", --system-ui, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  --italic-serif: "STIX", "Times New Roman", Times, serif;
}

@custom-media --mobile screen and (max-width: 600px);

body {
  --bg-yellow: var(--sticky-note-yellow);
  background-color: var(--bg-yellow);
  color: black;
  padding: 75px;
  font-family: var(--sans-serif);
  @media (--mobile) {
    padding: 30px;
  }
}

h1 {
  margin-top: 0;
}

.inline-logo {
  display: inline-block;
  background-position: 0 0.15em;
  background-image: url("images/logo.svg");
  padding-bottom: 0.15em;
  margin-right: 0.5em;
  height: 1em;
  width: 5.72em;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
}

#tagline {
  font-style: italic;
  font-weight: 400;
  font-family: var(--italic-serif);
  letter-spacing: -0.02em;
  font-size: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#description {
  text-align: right;
  max-width: 400px;
  font-size: 24px;
  letter-spacing: -0.02em;
  font-family: var(--sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  bottom: 75px;
  right: 100px;

  @media (--mobile) {
    position: static;
    padding-top: 150px;
  }
}

#above-the-fold {
  min-height: 100vh;
}

.no-spam {
  display: none;
}