@import "fonts.css";

:root {
  --sticky-note-yellow: #FEFFD0;
}

body {
  --bg-yellow: var(--sticky-note-yellow);
  background-color: var(--bg-yellow);
  color: black;
}

#tagline {
  font-style: italic;
  font-weight: 400;
  font-family: "STIX", "Times New Roman", Times, serif;
}

.inline-logo {
  display: inline-block;
  background-position: 0 0.15em;
  background-image: url("images/logo.svg");
  padding-bottom: 0.15em;
  margin-right: 0.5em;
  height: 1em;
  width: 5.72em;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0);
  background-size: contain;
  background-repeat: no-repeat;
}